{%extends "base.html"%}

    {%block title%}Categories{%endblock%}
    {%block stylesheets%}
        <link href="../static/categories.css" rel="stylesheet">
    {%endblock%}
    {%block content%}
        <section class="features" id="features">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br><br>
            <div class="heading">
            <h1 >categories</h1>
            </div>
            <div class="box-container">
        
                <div class="box">
                    <a href="https://youtu.be/0ka20qanWzI"><img class="imag" src="../static/peta.png" alt=""></a>
                    <h3>peta</h3>
                    <p>charity </p>

                </div>
        
                <div class="box">
                    <a href="https://youtu.be/YSyRzJVd364"><img class="imag" src="../static/wwf.jpg" alt=""></a>
                    <h3>world charity</h3>
                    <p>When Bryce Olson was diagnosed with advanced prostate cancer, he sequenced the DNA of his tumor and opened doors to new...</p>

                </div>
        
                <div class="box">
                    <a href="https://youtu.be/MHz2Ib0JeJY"><img class="imag" src="../static/pc logo.jpeg" alt=""></a>
                    <h3>charity</h3>
                    <p>spread happiness through charity.</p>

                </div>
                <div class="box">
                    <a href="https://youtu.be/-ozeyxYu1ek"><img class="imag" src="../static/unicef.jpg" alt=""></a>
                    <h3>unicef children</h3>
                    <p>When people come together, they can make a big impact. Charities depend on individuals who commit to giving small amounts. While donations from big groups are great, a community that cares about a charity and who they serve is essential. It’s those small donations that add up. The power of community proves that when people care and come together, change is more than possible. This inspires others around the world and encourages more participation in charities.</p>

                </div>
        
                
                
        
            </div>
        </section>

    {%endblock content%}