{%extends "base.html"%}
    {%block title%}Project Charity{%endblock%}
    {%block stylesheets%} 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="../static/index.css" rel="stylesheet">
    {%endblock%}

    {%block content%}
        <div class="slider">
          <div class="slides">
            <!--radio buttons start-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">
            <!--radio buttons end-->
            <!--slide images start-->
            <div class="slide first">
              <img src="../static/peta.png" alt="">
            </div>
            <div class="slide">
              <img src="../static/unicef.jpg" alt="">
            </div>
            <div class="slide">
              <img src="../static/you_we_can.png" alt="">
            </div>
            <div class="slide">
              <img src="../static/wwf.jpg" alt="">
            </div>
            <!--slide images end-->
            <!--automatic navigation start-->
            <div class="navigation-auto">
              <div class="auto-btn1"></div>
              <div class="auto-btn2"></div>
              <div class="auto-btn3"></div>
              <div class="auto-btn4"></div>
            </div>
            <!--automatic navigation end-->
          </div>
          <!--manual navigation start-->
          <div class="navigation-manual">
            <label for="radio1" class="manual-btn"></label>
            <label for="radio2" class="manual-btn"></label>
            <label for="radio3" class="manual-btn"></label>
            <label for="radio4" class="manual-btn"></label>
          </div>
          <!--manual navigation end-->
        </div>
        <section class="features" id="features">
        <div class="heading">
        <h1 >Donate Today</h1></div>
        </section>
    {%endblock%}
